**/*.*.cache
**/*.egg
*.egg
*.egg-info
build
/bin
/include
/lib
.Python
develop-eggs
eggs
parts
downloads
var
.installed.cfg
*.pt.py
*.pyc
*.pyo
var/Data.fs*
README.html
adminPassword.txt
bin/**
var/**
Data*.fs
blobstorage*
access
.DS_Store
*.bak*
*.sw?
.mr.developer.cfg
.codeintel
*.sublime-project
*.sublime-workspace
/bower_components
node_modules
src/**
.coverage