
.infobox {
    border: 1px solid black;
    background-color: #eeeeee;
    margin: 20px 0;
    padding: 8px;
}
.infobox .col {
    float: left;
    margin: 0 10px 0 20px;
    width: 40%;
    display: inline-block;
}
.infobox:after {
    content: '';
    display: block;
    clear: both;
}
.infobox .agent-label {
    display: inline-block;
}
.infobox .demo-index {
    margin-right: 4em;
}
.infobox.selector a.active {
    color: #000000;
    font-weight: bold;
    text-shadow: #6666ff 0 0 1em;
}
.infobox a {
    color: #6666ff;
    text-decoration: none;
}
.infobox a:visited {
    color: blue;
}
